{% extends "layout.html" %}
{% load static %}
{% block css %}

{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4 text-center fw-bold fst-italic">{{ h1 }}</h1>
        <div class="mt-4 text-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalFormAlumno">
                Nuevo Alumno</button>
        </div>
        {% include 'tabla.html' %}

    </div>
    {% include 'modals/formulario.html' %}

{% endblock %}

{% block js %}
    <script src="{% static 'js/only_numbers.js' %}"></script>
    <script src="{% static 'js/create_object.js' %}"></script>
    <script src="{% static 'js/update_object.js' %}"></script>
    <script src="{% static 'js/delete_object.js' %}"></script>

    <script src="{% static 'js/verify_data/verify_phone.js' %}"></script>
    <script src="{% static 'js/verify_data/verify_email.js' %}"></script>
{% endblock %}